NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAZjvIFLnf57y9VJiwzyw9ObLNl8kPWsVU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=lab-alta.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=lab-alta
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=lab-alta.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=963670520154
NEXT_PUBLIC_FIREBASE_APP_ID=1:963670520154:web:84783319441c6383a14363
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-RHKSEW5HZH
FIREBASE_PROJECT_ID=lab-alta
GOOGLE_APPLICATION_CREDENTIALS=./lab-alta-firebase-adminsdk-fbsvc-f534509e46.json
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=lab-alta.firebasestorage.app
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAC2ONQ6ycD47hTv0
TURNSTILE_SECRET_KEY=
