rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function authorizedOperator() {
      return signedIn() && (
        request.auth.uid == "YmFkf4hqIaQsBWm1waccoIdxB7K2" ||
        request.auth.uid == "RTgzHx5HHiNYVlPxVGIxkXMYsK83" ||
      );
    }

    function sameUser(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    match /descargas/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /cargas/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /envases/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /procesos/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /defectos/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /muestras/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /usuarios/{userId} {
      allow read, create, update: if authorizedOperator() && sameUser(userId);
      allow delete: if false;
    }

    match /envase_tipos/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /envase_stock/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /envase_movimientos/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /operaciones/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /operaciones_keys/{document=**} {
      allow read, write: if false;
    }

    match /dashboard_resumen_diario/{document=**} {
      allow read, write: if authorizedOperator();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
